[cloudflare]
name = "{{ ctx.worker_name }}"
main = "dist/worker.js"
compatibility_date = "{{ ctx.compatibility_date }}"
workers_dev = true

[[cloudflare.durable_objects.bindings]]
name = "ROOMS"
class_name = "Room"

[[cloudflare.durable_objects.migrations]]
tag = "v1"
new_sqlite_classes = ["Room"]

