[cloudflare]
name = "{{WORKER_NAME}}"
main = "dist/worker.js"
compatibility_date = "{{COMPATIBILITY_DATE}}"
workers_dev = true

[[cloudflare.durable_objects.bindings]]
name = "ROOMS"
class_name = "RoomObject"

[[cloudflare.durable_objects.migrations]]
tag = "v1"
new_sqlite_classes = ["RoomObject"]

