[package]
name = "{{PACKAGE_NAME}}"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
skyzen = "0.1"
skyzen-cloudflare = "0.1"
skyzen-services = "0.1"
tracing = "0.1"
