[cloudflare]
name = "{{ ctx.worker_name }}"
main = "dist/worker.js"
compatibility_date = "{{ ctx.compatibility_date }}"
workers_dev = true

[cloudflare.triggers]
crons = ["*/10 * * * *"]

[[cloudflare.queues.producers]]
binding = "JOBS"
queue = "jobs"

[[cloudflare.queues.consumers]]
queue = "jobs"

