[cloudflare]
name = "{{WORKER_NAME}}"
main = "dist/worker.js"
compatibility_date = "{{COMPATIBILITY_DATE}}"
workers_dev = true

[cloudflare.triggers]
crons = ["*/10 * * * *"]

[[cloudflare.queues.producers]]
binding = "JOBS"
queue = "jobs"

[[cloudflare.queues.consumers]]
queue = "jobs"

